.dishCard {
    display: inline-block;
    background-color: #bbb;
    border: solid;
    min-width: 300px;
    margin: 16px 20px;
    padding: 10px;
    text-align: left;
}

.dish {
    font-weight: bold;
}

.ingredients {
    font-weight: 400;
    font-style: italic;
    margin: 0;
}

.ingredient {
    margin: 0;
}