.card {
    display: inline-block;
    background-color: #bbb;
    border: solid;
    min-width: 300px;
    margin-left: 20px;
    margin-bottom: 16px;
    padding: 10px;
}

.card input {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button {
    font-weight: bold;
    min-width: 77px;
    margin-top: 3px;
}

.name {
    font-weight: bold;
}

.rating {
    font-style: italic;
}