.nameRest {
    margin-top: 20px;
    font-weight: bold;
    color: #c95422;
    padding-left: 10px;
}

.card {
    display: inline-block;
    background-color: #bbb;
    border: solid;
    min-width: 300px;
    margin: 5px;
    padding: 10px;
}

.review {
    display: block;
}

.nameH3 {
    background-color: #bbb;
    padding-bottom: 0;
}

ul {
    padding-left: 15px;
    padding-right: 15px;
}